 /* flow chart */
 .text-wrap {
  white-space: normal;
}
/* footer */
footer{
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100%;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #fff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;

}
.socials a:hover i{
  color: aqua;
}

.footer-bottom{
  background: #000;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
/* end */
/* sub-header */
.sub-header{
  height: 50vh;
  width: 100%;
  background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/pick2.jpg) ;
 background-position: center;
 background-size: cover;
 text-align: center;
 color: #fff;

}
.sub-header h1{
  margin-top: 10px;
  font-size: 50px;
}
/* nav */
nav{
  display: flex; 
  padding: 0% 6%;
  justify-content: space-between;
  align-items: flex-start;
}
nav img{
  width: 50%;
  height: 22vh;
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 58px 12px;
  position: relative;
} 
.nav-links ul li a{
  color:#fff;
  text-decoration: none;
  font-size: 20px;
}
.nav-links ul li a:hover{
  color: #FE442C;
  font-size: 22px;
  font-weight: bold;
}
.nav-links ul li::after{
  content:'' ;
  width: 0%;
  height: 2px;
  /* background:#f44336; */
  /* color: #e31b6d; */
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width: 100%;
}
/* navend */

/* blog start */
.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.blog-content{
  width: 80%;
  margin: auto;
  padding: 60px 0;
}
.blog-left{
  flex-basis: 65%;
}
.blog-left img{
  width: 100%;
}
.blog-left h2{
  color: #222;
  font-weight: 600;
  margin: 30px 0;
}
.blog-left p{
  color: #999;
  padding: 0;

}
.blog-right{
  flex-basis: 32%;
  text-align: center;
}
.blog-right h3{
  background:#f44336;
  color: #fff;
  padding: 7px 0;
  font-size: 16px;
  margin-bottom: 20px;
}
.blog-right div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color:#555;
  padding: 8px;
  box-sizing: border-box;
}
.comment-box{
  border: 1px solid #ccc;
  margin: 50px 0;
  padding: 10px 20px;
}
.comment-box h3{
  text-align: left;
  color: black;
}
.comment-form input, .comment-form textarea{
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: #f0f0f0;
} 
.comment-form button{
  margin: 10px 0;
}

@media(max-width:700px){
  .sub-header h1{
     font-size: 24px; 
  }
}
/* contact us */
.location{
  width: 80%;
  margin: auto;
  padding: 80px 0;
}
.location iframe{
  width: 100%;
}
.contact-us{
  width: 80%;
  margin: auto;
}
.contact-col{
  flex-basis: 48%;
  margin-bottom: 30px;
}
.contact-col div{
  display: flex;
  align-items: center;
  margin-bottom:40px ;
}
.contact-col div .fa{
  font-size: 28px;
  color: #f44336;
  margin: 10px;
  margin-right: 30px;
}
.contact-col div p{
  padding: 0;
}
.contact-col div h5{
  font-size: 20px;
  margin-bottom: 5px;
  color: #555;
  font-weight:400 ;
}
.contact-col input, .contact-col textarea{
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
  }

/* blog end */

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  
  margin: 0;
  
  color: #eee9dc;
  font: 16px Verdana, sans-serif;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.flow{
  padding:5% 15%;
}
#wrapper {
  position: relative;

}
#wrapper a{
  color: black;
  text-decoration: none;
}
#wrapper a:hover{
  /* color: black; */
  text-decoration: none;
  font: 18px Verdana, sans-serif;
}


.branch {
  position: relative;
  margin-left: 250px;
}
.branch:before {
  content: "";
  width: 50px;
  border-top: 3px solid black;
  position: absolute;
  left: -100px;
  top: 50%;
  margin-top: 1px;
}

.entry {
  position: relative;
  min-height: 60px;
}
.entry:before {
  content: "";
  height: 100%;
  border-left: 3px solid black;
  position: absolute;
  left: -50px;
}
.entry:after {
  content: "";
  width: 50px;
  border-top: 3px solid black;
  position: absolute;
  left: -50px;
  top: 50%;
  margin-top: 1px;
}
.entry:first-child:before {
  width: 10px;
  height: 50%;
  top: 50%;
  margin-top: 2px;
  border-radius: 10px 0 0 0;
}
.entry:first-child:after {
  height: 10px;
  border-radius: 10px 0 0 0;
}
.entry:last-child:before {
  width: 10px;
  height: 50%;
  border-radius: 0 0 0 10px;
}
.entry:last-child:after {
  height: 10px;
  border-top: none;
  border-bottom: 3px solid black;
  border-radius: 0 0 0 10px;
  margin-top: -9px;
}
.entry.sole:before {
  display: none;
}
.entry.sole:after {
  width: 50px;
  height: 0;
  margin-top: 1px;
  border-radius: 0;
}

.label {
  display: block;
  min-width: 150px;
  color: black;
  padding: 5px 10px;
  line-height: 20px;
  text-align: center;
  background-color:#5b76a8e7;
  border: 2px solid #eee9dc;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -15px;
}
.gg{
  background-color: #D6EADF;
}
.gg1{
  background-color: #b8e0d2;
}
.gg2{
  background-color: #a2bbce;
}
.pl{
  background-color: #D6EADF;
}
.pl1{
  background-color: #a2bbce;
}
.pl2{
  background-color: #b8e0d2;
}