*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    position:relative ;
    overflow: hidden;
}
.slider{
    width: 100%;
    height: 100vh;
    position: absolute;
    top:0;
}
#slideImg{
    width:100% ;
    align-items: center;
    height: 100vh;
    animation: zoom 3s linear infinite;
}
@keyframes zoom {
    0%{transform: scale(1.3);}
    15%{transform: scale(1);}
    85%{transform: scale(1);}
    100%{transform: scale(1.3);}
}
.overlayer{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    position: absolute;
    top: 0;
}
/* nav */
nav{
    display: flex; 
    padding: 0% 6%;
    justify-content: space-between;
    align-items: flex-start;
}
nav img{
    width: 110%;
    height: 15vh;
    margin-top: 15px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 58px 12px;
    position: relative;
} 
    .nav-links ul li a{
        color:#fff;
        text-decoration: none;
        font-size: 20px;
    }
    .nav-links ul li a:hover{
        color: #00b894;
        font-size: 22px;
        font-weight: bold;
    }
    .nav-links ul li::after{
        content:'' ;
        width: 0%;
        height: 2px;
        /* background:#f44336; */
        /* color: #e31b6d; */
        display: block;
        margin: auto;
        transition: 0.5s;
    }
    .nav-links ul li:hover::after{
        width: 100%;
    }
/* navend */
.text-box
{
    width: 90%;
    color: #fff;
    position:absolute;
    top: 70%;
    left: 50%;
    transform:translate(-50%,-50%) ;
    text-align: center;
    font-family: "Raleway",sans-serif;
}
.text-box h1{
    font-size: 45px;
    font-weight: bold;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 25px;
    font-weight: bold;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.hero-btn:hover{
    border: 1px solid #00b894;
    background: #00b894;
    transition: 1s;
    font-size: 17px;
    font-weight: bold;
}
/* card button*/
.hero-bt{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 25px;
}
.hero-bt:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
/* end */
/*-------course -----*/
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
  font-size: 36px;
  font-weight: 600;  
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding:10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding:20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}
/* end */
/* contact us */
.sub-header{
    height: 50vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/pick2.jpg) ;
   background-position: center;
   background-size: cover;
   text-align: center;
   color: #fff;

}
.sub-header h1{
    margin-top: 10px;
    font-size: 50px;
}
.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
}
.contact-us{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom:40px ;
}
.contact-col div .fa{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #fff;
    font-weight:400 ;
}
.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
    }
    .row{
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
    }
    /* footer */
    footer{
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        background: #111;
        height: auto;
        width: 100%;
        font-family: "Open Sans";
        padding-top: 40px;
        color: #fff;
    }
    .footer-content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .footer-content h3{
        font-size: 1.8rem;
        font-weight: 400;
        text-transform: capitalize;
        line-height: 3rem;
    }
    .footer-content p{
        max-width: 500px;
        margin: 10px auto;
        line-height: 28px;
        font-size: 14px;
    }
    .socials{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0 3rem 0;
    }
    .socials li{
        margin: 0 10px;
    }
    .socials a{
        text-decoration: none;
        color: #fff;
    }
    .socials a i{
        font-size: 1.1rem;
        transition: color .4s ease;
    
    }
    .socials a:hover i{
        color: aqua;
    }
    
    .footer-bottom{
        background: #000;
        width: 100%;
        padding: 20px 0;
        text-align: center;
    }
    .footer-bottom p{
        font-size: 14px;
        word-spacing: 2px;
        text-transform: capitalize;
    }
    .footer-bottom span{
        text-transform: uppercase;
        opacity: .4;
        font-weight: 200;
    }
    /* end */
    /* flow chart */
    .text-wrap {
        white-space: normal;
      }

/* animation top */
.change_content::after{
 content:'';
 animation: changetext 10s infinite linear;
color:#00b894;
}
@keyframes changetext{
    0%{content: "CAREER";}
    25%{content: "GROWTH";}
    50%{content: "EDUCATION";}
    100%{content: "LIFE";}
    75%{content: "FUTURE";}
}













